<ng-container *ngIf="(products$ | async) as productsList">
  <button class="btn btn-primary" [disabled]="!hasMoreProducts" (click)="loadMore()">
    <ng-container *ngIf="loading; else loadMoreButton">
      Loading...
    </ng-container>
    <ng-template #loadMoreButton>
      <span *ngIf="hasMoreProducts">More Products</span>
      <span *ngIf="!hasMoreProducts">No More Products</span>
    </ng-template>
  </button>
  <div class="alert alert-warning">
    Product Number: {{ productsList.length }}
  </div>
  <div class="row">
    <div class="col-4" *ngFor="let product of productsList">
      <img class="rounded-circle" [src]="product.thumbnail" width="150px" height="150px" />
      {{ product.title }}
    </div>
  </div>
</ng-container>